:root {
  --primary: #057e5f;
  --secundary: #003b22;

  --text: #fff;
  --bg-gray: #dddddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}


@keyframes slideTop {
  0% {
      opacity: 0;
      transform: translateY(100px);
  }

  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}

@keyframes slideBottom {
  0% {
      opacity: 0;
      transform: translateY(-100px);
  }

  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}